.outerdiv{
    width: 90%;
    margin: auto;
    margin-top: 10%;
    form{
        display: flex;
        flex-direction: column;
        width: 50%;
        margin: auto;
    gap: 1rem;
        input,button{
            padding: 0.5rem;
        }
        .name{
            flex: 1 0 0 ;
        }
    }

}